<!DOCTYPE html>
<html>
<head>
    <title>
        About Myself
    </title>
</head>
<body>
<h1>Hello</h1>
<hr><p>
        Hi,I am your father,and I'm gonna kick your ass!
</p><hr>
<h3>Everglow Coldplay</h3>
<hr>
<pre style="font-size: large">
    oh they say people come, they say people go.
    人言聚有时 散有期
    This particular diamond was extra special
    而你却恒久如钻石璀璨在我生命里
    And though you might be gone
    我知道你已离我而去
    And the world may not know
    而这世界却未曾知情般依然喧嚣不停
    Still I see you, celestial
    而我却还能看见你 如银汉星河的美丽
    Like a lion you ran
    如上帝雄狮驰骋游疆
    A Goddess you rolled
    如天域女神受万世敬仰
    Like an eagle you circled
    如宙斯雄鹰划破天际翱翔
    In perfect purple
    如皇室御紫贵气独放
    So how come things move on?
    而为何美好总是难留
    How come cars don’t slow?
    为何你的离去停不住这车水马龙
    When it feels like the end of my world?
    而明明它仿佛将我世界都带走
    When I should but I can’t let you go?
    当我深知我应该 但却无法放手
    But when I’m cold, cold
    而当我世界陷入天寒地冻
    Oh when I’m cold, cold
    当我受困在这孤冷之中
    There’s a light that you give me
    你予我的光亮
    When I’m in shadows
    总能引我走出阴影失落
    There’s a feeling you give me, an everglow
    你留下的情愫 是我心永生不灭的光火
    Like brothers in blood
    如骨肉手足血脉相连
    Sisters who ride
    也要像姐妹携手永伴身边
    And we swore on that night
    犹记得我们分离那晚旦旦誓言
    We'd be friends 'til we died
    说着到死也不断此友情此念
    But the changing of winds
    但风向最易改
    And the way waters flow
    逝水难阻断
    Life as short as the falling of snow
    生命有时亦如冰雪消融般短暂
    And now I'm gonna miss you, I know
    但直到现在 我对你的思念亦不眠不换
    But when I'm cold, cold
    而当我的世界陷入天寒地冻
    In water rolled, salt
    时间的海伴回忆卷来咸咸海风
    I know that you’re with me
    我知道你始终都在我左右
    And the way you will show
    一如你终将证明的隽永
    And you’re with me wherever I go
    即使我孤独在人海里飘流 你都会陪着我
    And you give me this feeling this everglow
    而你留给我的一切 都会在我脑海 永生不灭
    Oh, what I wouldn’t give for just a moment to hold
    无论世事如何变迁 我都不用刻意去坚持或妥协
    Yeah, I live for this feeling this everglow
    只因这永生不灭的光火 会伴我余生 如你在我身边
    So if you love someone, you should let them know
    而若你有天遇到另一个深爱的他 就大胆告诉他吧
    Oh, the light that you left me will everglow
    你知道 你留下的光芒会在我心间 永生不灭啊
</pre>
</body>
</html>