{% load static %}
<!--引入css文件-->
<link rel="stylesheet" href="{%static 'live2d/css/live2d.css'%}" />

<!--引入js文件-->
<div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="hide-button" style="display: none;">隐藏</div>
</div>
<script src="{%static 'live2d/js/jquery-2.2.0.min.js'%}"></script>
<!--<script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>-->
<script type="text/javascript">
    var message_Path = "{%static 'live2d/' %}"
    //var message_Path = 'https://6dduu6.github.io/live2d/'
    var home_Path = '192.168.88.128:8000/'               //此处可以修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="{%static 'live2d/js/live2d.js'%}"></script>
<script type="text/javascript" src="{%static 'live2d/js/message.js'%}"></script>
<script type="text/javascript">
    loadlive2d("live2d", "{%static 'live2d/model/Pio/model.json'%}");
</script>



