{% extends 'base.html' %}
{% block title %}kakaluoto's site{% endblock %}
{% block menu %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>
            MENU
        </h3>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <a href="/" class="list-group-item">HOME</a>
            <a href="https://space.bilibili.com/146159499" class="list-group-item">bilibili</a>
            <a href="https://blog.csdn.net/K1052176873?spm=1000.2115.3001.5343" class="list-group-item">CSDN</a>
            <a href="https://github.com/Kakaluoto/myblog" class="list-group-item">My GitHub</a>
            <a href="login/article" class="list-group-item">文章列表</a>
            <a href="login/table" class="list-group-item">数据表格</a>
            <a href="admin" class="list-group-item">后台管理</a>
            <a href="about" class="list-group-item">关于</a>
        </div>
    </div>
</div>
{% endblock %}
